<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user page</title>
</head>
<body>
<div style="font-weight: bold;">/ <a th:href="@{/static}">all users</a> / Add new user</div>
<h1>Enter user details:</h1>
<form th:method="POST" th:action="@{/saveUser}" th:object="${user}">

    <label for="name">Name: </label><br>
    <input type="text" th:field="*{name}" id="name"/><br>

    <label for="lastName">Last name: </label><br>
    <input type="text" th:field="*{lastName}" id="lastName"/><br>

    <label for="email">Email: </label><br>
    <input type="text" th:field="*{email}" id="email"/><br>
    <br>
    <input type="submit" value="Add user"/>
</form>
</body>
</html>